<button class="english-btn" type="button">En</button>

<!-- JQuery -->
<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"
></script>
<!-- JS -->
<script type="text/javascript" src="/assets/js/languageBtn.js"></script>