<!-- Footer -->
<div class="row rowContact">
  <div class="col-sm-12">
    <footer class="py-4 bg-dark flex-bottom">
      <div id="contactanos" class="cellphone-logo">
        <i class="fas fa-mobile-alt"></i>
      </div>
      <div class="container">
        <div class="igfbIcons">
          Siguenos:

          <a href="http://www.instagram.com" target="_blank"><p><i class="fab fa-instagram"></i></p></a>
          <a href="http://www.facebook.com" target="_blank"><p><i class="fab fa-facebook"></i></p></a>
        </div>
        <div class="phoneEmail">
          Contactanos:

          <p><i class="fas fa-phone-alt"></i> (123) 456 - 3456</p>
          <p>
            <a href="mailto:knutricion@gmail.com" style="color:white;text-decoration: none;"><i class="fas fa-envelope-open-text"></i>
            knutricion@gmail.com</a>
          </p>
          <p>Direccion: 315 Calle 53 09018</p>
          <p style="margin:auto;">Cuenca - Ecuador</p>
        </div>

        <p class="m-0 text-center text-white" style="width: auto">
          Copyright &copy; 2021
        </p>
      </div>
    </footer>
  </div>
</div>