<!-- Nav bar -->
<div class="row">
  <div class="col-sm-12 navContainer">
    <nav
      id="navBarHeader"
      class="navbar navbar-expand-lg navbar-light bg-light"
    >
      <div class="container-fluid">
        <a class="navbar-brand fontFams animate__animated animate__flipInX" href="#">K Nutrición</a>
        <div class="twoBtns">
          {{>englishBtn}}
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation"
           >
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse fontFams" id="navbarNavAltMarkup">
          <ul class="navbar-nav">
            <li class="nav-link inicio animate__animated animate__fadeInDown">Inicio</li>
            <li class="nav-link sobrenosotros animate__animated animate__fadeInDown">Sobre nosotros</li>
            <li class="nav-link tratamientos animate__animated animate__fadeInDown">Tratamientos
              <span><i
                  id="arrowList"
                  class="fas fa-chevron-down"
                ></i></span></li>
            <ul id="list-tratamientos" class="tratamientosList">
              <li class="animate__animated animate__fadeInDown">Nutricion</li>
              <li class="animate__animated animate__fadeInDown">Cutis</li>
              <li class="animate__animated animate__fadeInDown">Cuerpo</li>
              <li class="animate__animated animate__fadeInDown">Laser</li>
              <li class="animate__animated animate__fadeInDown">Especiales</li>
            </ul>
            <li class="nav-link testimonios animate__animated animate__fadeInDown">Testimonios</li>
            <li class="nav-link contactanos animate__animated animate__fadeInDown">Contáctanos</li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>