<!-- Nav bar -->
<div class="row">
  <div class="col-sm-12 navContainer">
    <nav
      id="navBarHeader"
      class="navbar navbar-expand-lg navbar-light bg-light"
    >
      <div class="container-fluid">
        <a class="navbar-brand fontFams" href="#">K Nutricion</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse fontFams" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link Inicio" href="">Inicio</a>
            <a class="nav-link Sobre nosotros" href="">Sobre nosotros</a>
            <a class="nav-link Tratamientos" href="">Tratamientos
              <span><i
                  id="arrowList"
                  class="fas fa-chevron-down"
                ></i></span></a>
            <ul id="list-tratamientos" class="tratamientosList">
              <li>Nutricion</li>
              <li>Cutis</li>
              <li>Cuerpo</li>
              <li>Laser</li>
              <li>Especiales</li>
            </ul>
            <a class="nav-link Testimonios" href="">Testimonios</a>
            <a class="nav-link Contactanos" href="">Contáctanos</a>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>