{{!-- Headings --}}
<div class="row">
  <div class="col-sm-12">
    <div class="leaflogo-container">
      <div class="leaf-comments-logos">
        <p>{{title}}</p>
      </div>
    </div>
  </div>
</div>