<div class="row">
        <div class="col-sm-12">
          <div class="background_img_container">
            <section class="video-container">
              <video
                id="video-hero"
                src="https://media.istockphoto.com/videos/beauty-spa-treatments-at-an-esthetic-salon-video-id1334299790"
                autoplay=""
                loop=""
                playsinline=""
                muted=""
              ></video>
            </section>
          </div>
        </div>
      </div>