<div class="sideBtns-Container">
  <div class="sideBtns">
    <a href="" class="logo"><i class="fas fa-bars inicio"></i></a>
    <a href="" class="logo"> <i class="fas fa-user-alt sobrenosotros"></i></a>
    <a href="" class="logo"><i class="fas fa-leaf tratamientos"></i></a>
    <a href="" class="logo"><i class="fas fa-comments testimonios"></i></a>
    <a href="" class="logo"><i class="fas fa-mobile-alt contactanos"></i></a>
  </div>
</div>