 <div class="row rowProjects">
        <div class="col-sm-12 cardColumn">
          <div class="leaflogo-container">
            <div id="tratamientos" class="leaf-comments-logos">
              <p>TRATAMIENTOS <i class="fas fa-leaf"></i></p>
            </div>
          </div>
          <div class="bannerContainer row">
            <div class="banner1">
              <div class="b1">
                <img
                  src="https://cdn.pixabay.com/photo/2016/11/29/11/15/fruits-1869132__480.jpg"
                  id="imgBanner1"
                  class="banner"
                />
                <div class="linkContainer">
                  <a href="/nutricion">
                    <button class="seeDescription">VER DETALLES</button></a
                  >
                  <h4>NUTRICION</h4>
                </div>
              </div>
            </div>
            <div class="banner2">
              <div class="b2">
                <img
                  src="https://cdn.pixabay.com/photo/2021/08/19/09/18/woman-6557552__340.jpg"
                  id="imgBanner2"
                  class="banner"
                />
                <div class="linkContainer">
                  
                  <a href="/cutis"
                    ><button class="seeDescription">VER DETALLES</button></a
                  >
                  <h4>CUTIS</h4>
                </div>
              </div>
            </div>
            <div class="banner3">
              <div class="b3">
                <img
                  src="https://cdn.pixabay.com/photo/2020/03/09/19/06/massage-4916847__480.jpg"
                  id="imgBanner3"
                  class="banner"
                />
                <div class="linkContainer">
                  
                  <a href="/cuerpo"
                    ><button class="seeDescription">VER DETALLES</button></a
                  >
                  <h4>CUERPO</h4>
                </div>
              </div>
            </div>
            <div class="banner4">
              <div class="b4">
                <img
                  src="https://previews.123rf.com/images/ninamalyna/ninamalyna1402/ninamalyna140200009/26245270-woman-getting-laser-face-treatment-in-medical-spa-center-skin-rejuvenation-concept.jpg"
                  id="imgBanner4"
                  class="banner"
                />
                <div class="linkContainer">
                  
                  <a href="/laser"
                    ><button class="seeDescription">VER DETALLES</button></a
                  >
                  <h4>LASER</h4>
                </div>
              </div>
            </div>

            <div class="banner5">
              <div class="b5">
                <img
                  src="https://cdn.pixabay.com/photo/2015/08/25/03/51/lemon-906141__480.jpg"
                  id="imgBanner5"
                  class="banner"
                />
                <div class="linkContainer">
                 
                  <a href="/especiales"
                    ><button class="seeDescription">VER DETALLES</button></a
                  >
                   <h4>ESPECIALES</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
