.col-sm-12 {
  padding-right: 0px;
}

.fontFams {
  font-family: "Lora", serif;
}

.homeLogo {
  font-size: 70px;
  margin: 20px auto;
  border-style: solid;
  border-radius: 64px;
  padding-left: 0px;
  width: 110px;
  text-align: center;
  color: orange;
  text-shadow: 1px 1px black;
}

.rowAboutMe {
  background-color: lightblue;
}

.aboutMeparragraph,
.signature {
  padding: 15px 22px 15px 15px;
  margin: auto;
}

.signature p {
  font-family: "Italianno", cursive;
  font-size: 24px;
}

.b1,
.b2,
.b3 {
  position: relative;
}

.linkContainer {
  position: absolute;
  top: 15px;
  left: 20px;
}

.banner {
  width: 100%;
  height: 135px;
  object-fit: cover;
}

h4 {
  color: white;
  text-shadow: black 2px 2px;
}

.seeDescription {
    background-color: white;
    border-style: solid;
    border-width: thin;
    border-radius: 10px;
    padding: 6px;
    color: grey;
    text-shadow: black 0px 0px;
}

.cardColumn {
    box-shadow: grey 0px 0px 5px;
}



.container, .container p {
  color: white;
  display: block;
  font-size: 18px;
  font-family: "Lora", serif;
  width: fit-content;
}

.container {
  width: auto;
}

.igfbIcons {
  display: inline-flex;
  margin: 10px 0px;
}

.igfbIcons p {
  font-size: 30px;
  margin: -6px 0px 0px 30px;
}

.phoneEmail p {
  margin: 10px 0px;
}

.phoneEmail p i {
  margin-right: 10px;
}
