 {{>header}}
 <div id="google_translate_element"></div>
<main>
      
     {{>sideBtns}}

      <!-- Video -->
      <div class="row">
        <div class="col-sm-12">
          <div class="background_img_container">
            <section class="video-container">
              <video
                id="video-hero"
                src="https://media.istockphoto.com/videos/beauty-spa-treatments-at-an-esthetic-salon-video-id1334299790"
                autoplay=""
                loop=""
                playsinline=""
                muted=""
              ></video>
            </section>
          </div>
        </div>
      </div>

      <!-- About me -->
      <div class="row rowAboutMe">
        <div id="sobrenosotros" class="col-sm-12 colAboutMe">
          <p class="fontFams">Bienvenidos a</p>
          <h1 class="fontFams">K NUTRICION</h1>
          <div class="imgContainer">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTm3XKptI9JJTAN5uCEi1uMtk7cqSHC38Bj7g&usqp=CAU"
            />
          </div>

          <p class="aboutMeparragraph" style="text-align: justify">
            Hi there! <br />
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus
            voluptates dolorem tempore culpa. Saepe excepturi sapiente
            aspernatur deleniti fugit obcaecati est eum doloremque accusantium,
            voluptates corporis maxime esse commodi? Officiis eaque eos quo et
            vitae aut distinctio, amet quidem architecto molestiae aspernatur,
            rem similique cumque quaerat in praesentium suscipit a ducimus
            perferendis nostrum odit sed repudiandae. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Eligendi autem quam debitis deserunt
            nostrum asperiores error, harum enim, doloribus ipsum numquam
            quisquam. Voluptas tempora libero vitae sequi ipsam alias reiciendis
            sed quibusdam ut, iure autem, reprehenderit ullam perspiciatis
            eveniet distinctio deleniti sunt placeat omnis suscipit quidem cum
            minima expedita fugit.
          </p>

          <div class="signature"><p>Bienesyraices.</p></div>
        </div>
      </div>

      <!-- Tratamientos -->
      <div class="row rowProjects">
        <div class="col-sm-12 cardColumn">
          <div class="leaflogo-container">
            <div id="tratamientos" class="leaf-comments-logos">
              <p>TRATAMIENTOS <i class="fas fa-leaf"></i></p>
            </div>
          </div>
          <div class="bannerContainer">
            <div class="banner1">
              <div class="b1">
                <img
                  src="https://cdn.pixabay.com/photo/2016/11/29/11/15/fruits-1869132__480.jpg"
                  id="imgBanner1"
                  class="banner"
                />
                <div class="linkContainer">
                  <h4>NUTRICION</h4>
                  <a href="/nutricion">
                    <button class="seeDescription">VER DETALLES</button></a
                  >
                </div>
              </div>
            </div>
            <div class="banner2">
              <div class="b2">
                <img
                  src="https://cdn.pixabay.com/photo/2021/08/19/09/18/woman-6557552__340.jpg"
                  id="imgBanner2"
                  class="banner"
                />
                <div class="linkContainer">
                  <h4>CUTIS</h4>
                  <a href="/cutis"
                    ><button class="seeDescription">VER DETALLES</button></a
                  >
                </div>
              </div>
            </div>
            <div class="banner3">
              <div class="b3">
                <img
                  src="https://cdn.pixabay.com/photo/2020/03/09/19/06/massage-4916847__480.jpg"
                  id="imgBanner3"
                  class="banner"
                />
                <div class="linkContainer">
                  <h4>CUERPO</h4>
                  <a href="/cuerpo"
                    ><button class="seeDescription">VER DETALLES</button></a
                  >
                </div>
              </div>
            </div>
            <div class="banner4">
              <div class="b4">
                <img
                  src="https://cdn.pixabay.com/photo/2021/09/28/15/55/laser-treatment-6664875__340.jpg"
                  id="imgBanner4"
                  class="banner"
                />
                <div class="linkContainer">
                  <h4>LASER</h4>
                  <a href="/laser"
                    ><button class="seeDescription">VER DETALLES</button></a
                  >
                </div>
              </div>
            </div>

            <div class="banner5">
              <div class="b5">
                <img
                  src="https://cdn.pixabay.com/photo/2015/08/25/03/51/lemon-906141__480.jpg"
                  id="imgBanner5"
                  class="banner"
                />
                <div class="linkContainer">
                  <h4>ESPECIALES</h4>
                  <a href="/especiales"
                    ><button class="seeDescription">VER DETALLES</button></a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Comments -->
      <div class="row rowComments">
        <div class="leaflogo-container">
          <div id="testimonios" class="leaf-comments-logos">
            <p>TESTIMONIOS <i class="fas fa-comments"></i></p>
          </div>
        </div>
        <div class="col-sm-12">
          <div
            id="carouselExampleIndicators"
            class="carousel slide"
            data-bs-ride="carousel"
          >
            <div class="carousel-indicators">
              <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="0"
                class="active"
                aria-current="true"
                aria-label="Slide 1"
              ></button>
              <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="1"
                aria-label="Slide 2"
              ></button>
              <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="2"
                aria-label="Slide 3"
              ></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img
                  src="https://mediamodifier.com/blog/wp-content/uploads/2020/04/07-beautiful-customer-quote-template-for-feedback-on-social-media.jpg"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              <div class="carousel-item">
                <img
                  src="https://www.agorapulse.com/blog/wp-content/uploads/sites/2/2021/01/Instagram-template-for-agencies-07-3-1024x1024.png"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              <div class="carousel-item">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmITHD-72FoEgNkXhLn3yHflSrbDMsV0WIaWYpH0-9ELMeDskr18ToKJk9Ph9VOlYxI4I&usqp=CAU"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
</main>
 {{>footer}}

  