.col-sm-12 {
  padding-right: 0px;
}

/* .navContainer {
  height: fit-content;
  height: calc(100vh);
  text-align: center;
} */

.navContainer,
.bg-light {
  background-color: #f0f3f5 !important;
}

#navBarHeader {
  margin: 15px auto;
}

#video-hero {
  width: 100%;
}

.fontFams {
  font-family: "Lora", serif;
}

.navbar-nav {
  height: calc(100vh);
  text-align: center;
  font-size: 25px;
}

.nav-link {
  transform: translate(0px, 100px);
}

.logo {
  font-size: 70px;
  margin: 60px auto;
  border-style: solid;
  border-radius: 64px;
  padding-left: 0px;
  width: 110px;
  text-align: center;
  color: #f16493;
  text-shadow: 1px 1px black;
}

.rowAboutMe {
  background-color: #ecdcef;
  background-image: linear-gradient(
    to bottom,
    #ecdcef,
    #e0c6e4,
    #cfadd4,
    #b696bd
  );
}

.colAboutMe h1 {
  text-align: center;
}

.imgContainer {
  width: 45%;
  margin: 10px auto;
}

.imgContainer img {
  width: 100%;
}

.aboutMeparragraph,
.signature {
  padding: 15px 30px;
  margin: auto;
}

.signature p {
  font-family: "Italianno", cursive;
  font-size: 24px;
  text-align: right;
}

.b1,
.b2,
.b3,
.b4,
.b5 {
  position: relative;
}

.linkContainer {
  position: absolute;
  top: 25px;
  left: 20px;
}

.banner1,
.banner2,
.banner3,
.banner4 {
  margin-bottom: 20px;
}

.banner {
  width: 100%;
  height: 170px;
  object-fit: cover;
}

h4 {
  color: white;
  text-shadow: black 2px 2px;
}

.seeDescription {
  background-color: white;
  border-style: solid;
  border-width: thin;
  border-radius: 10px;
  padding: 6px;
  color: grey;
  text-shadow: black 0px 0px;
}

.cardColumn,
.rowAboutMe {
  box-shadow: grey 0px 0px 5px;
}

.container,
.container p {
  color: white;
  display: block;
  font-size: 18px;
  font-family: "Lora", serif;
  width: fit-content;
}

.container {
  width: auto;
}

.igfbIcons {
  display: inline-flex;
  margin: 10px 0px;
}

.igfbIcons p {
  font-size: 30px;
  margin: -6px 0px 0px 30px;
}

.phoneEmail p {
  margin: 10px 0px;
}

.phoneEmail p i {
  margin-right: 10px;
}
.sideBtns-Container {
  position: fixed;
  bottom: 6%;
  left: 96%;
  z-index: 1;
  width: 49px;
  border-style: solid;
  border-width: thin;
  border-radius: 15px;
  border-color: grey;
}

.sideBtns {
  /* position: fixed;
  bottom: 6%;
  left: 82%; */
  width: 100%;
  text-align: center;
  /* z-index: 1; */
  position: relative;
  left: 70px;
  transition: 0.2s;
  padding: 10px 0px 2px;
}
.sideBtns-Container:hover {
  left: 87%;
  background-color: white;
}

.sideBtns-Container:hover .sideBtns {
  transition: 0.2s;
  left: 0;
}

.sideBtns a {
  border-style: none;
  font-size: 5px;
}

.sideBtns i {
  font-size: 25px;
  margin-bottom: 10px;
  color: #f16493;
}

.rowComments {
  margin-bottom: 60px;
}
