body {
  background-color: #f0f3f5;
}

.row {
  margin-right: 0px;
}

.col-sm-12 {
  padding-right: 0px;
}

.navContainer,
.bg-light {
  background-color: #f0f3f5 !important;
}

#navBarHeader {
  height: 80px;
  margin: 15px auto;
}

.navbar-light .navbar-toggler {
  color: #a97bb1;
  border-color: #a97bb1;
}

.navbar-brand {
  font-size: 26px;
  background: -webkit-linear-gradient(#a97bb1, #55245f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tratamientosList {
  display: none;
  padding-left: 9rem;
  text-align: left;
}

.tratamientosList li {
  display: block;
  font-size: 18px;
  color: grey;
}
.tratamientosList li:hover {
  text-decoration: underline;
}

.fa-chevron-down {
  width: 30px;
  transition: 0.4s;
}

.fa-chevron-down:hover {
  color: #86538f;
}

.container-fluid {
  background-color: #f0f3f5;
}

#video-hero {
  width: 100%;
}

.fontFams {
  font-family: "Lora", serif;
}

.navbar-nav {
  margin-top: 50px;
  text-align: center;
  font-size: 25px;
}

.navbar-nav li {
  margin: 2.5% auto;
}

.background_img_container {
  margin-bottom: -6px;
}

.logo {
  text-shadow: 1px 1px black;
}

.leaflogo-container {
  width: 100%;
  height: 90px;
  padding-right: 0px;
  background-color: #a97bb1;
}

.leaf-comments-logos,
.cellphone-logo {
  width: fit-content;
  margin: 0px auto 20px;
  text-align: center;
}

.leaf-comments-logos p,
.cellphone-logo {
  font-size: 32px;
  font-family: "lora", serif;
  color: white;
  padding-top: 20px;
  text-shadow: 1px 1px black;
}

.leaf-comments-logos i,
.cellphone-logo i {
  border-style: solid;
  border-radius: 30px;
  width: 54px;
  padding: 7px;
}

.cellphone-logo {
  font-size: 58px;
}

.cellphone-logo i {
  border-radius: 39px;
  width: 80px;
  color: #a97bb1;
}

.rowAboutMe {
  margin-bottom: 60px;
  background-color: #ecdcef;
  background-image: linear-gradient(
    to bottom,
    #ecdcef,
    #e0c6e4,
    #cfadd4,
    #b696bd
  );
}

.colAboutMe p {
  margin: 40px auto 0px;
}

.colAboutMe h1 {
  margin: 0px auto 30px;
}

.colAboutMe p,
h1 {
  text-align: center;
}

.imgContainer {
  width: 45%;
  margin: 20px auto;
}

.imgContainer img {
  width: 100%;
}

.aboutMeparragraph,
.signature {
  padding: 15px 30px;
  margin: auto;
}

.signature p {
  font-family: "Italianno", cursive;
  font-size: 24px;
  text-align: right;
}

.b1,
.b2,
.b3,
.b4,
.b5 {
  position: relative;
}

.linkContainer {
  position: absolute;
  top: 25px;
  left: 20px;
}

.banner1,
.banner2,
.banner3,
.banner4 {
  margin-bottom: 2px;
}

.banner {
  width: 100%;
  height: 170px;
  object-fit: cover;
}

h4 {
  color: white;
  text-shadow: black 2px 2px;
}

.seeDescription {
  width: 130px;
  height: 40px;
  font-size: 20px;
  background-color: white;
  border-style: solid;
  border-width: thin;
  border-radius: 10px;
  padding: 6px;
  color: grey;
  text-shadow: black 0px 0px;
}

.cardColumn {
  box-shadow: grey 0px 0px 5px;
}

.rowProjects {
  margin-bottom: 60px;
}

.container,
.container p {
  color: white;
  display: block;
  font-size: 18px;
  font-family: "Lora", serif;
  width: fit-content;
}

.container {
  width: auto;
}

.igfbIcons {
  display: inline-flex;
  margin: 10px 0px;
}

.igfbIcons p {
  font-size: 30px;
  margin: -6px 0px 0px 30px;
}

.phoneEmail p {
  margin: 10px 0px;
}

.phoneEmail p i {
  margin-right: 10px;
}

.sideBtns-Container {
  position: fixed;
  bottom: 6%;
  left: 98%;
  z-index: 1;
  width: 49px;
  border-style: solid;
  border-width: thin;
  border-radius: 15px;
  border-color: grey;
}

.sideBtns {
  width: 100%;
  text-align: center;
  position: relative;
  left: 70px;
  transition: 0.2s;
  padding: 10px 0px 2px;
}
.sideBtns-Container:hover {
  left: 87%;
  background-color: white;
}

.sideBtns-Container:hover .sideBtns {
  transition: 0.2s;
  left: 0;
}

.sideBtns a {
  border-style: none;
  font-size: 5px;
}

.sideBtns i {
  font-size: 25px;
  margin-bottom: 10px;
  color: #a97bb1;
}
