body {
  background-color: #f0f3f5;
}

.row {
  margin-right: 0px;
}

.col-sm-12 {
  padding-right: 0px;
}

.navContainer,
.bg-light {
  background-color: #f0f3f5 !important;
}

#navBarHeader {
  height: 80px;
  margin: 15px auto;
}

.twoBtns {
  display: flex;
}

.english-btn {
  /* padding: 0.25rem 0.75rem; */
  margin-right: 5px;
  font-size: 1.25rem;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: rgba(0, 0, 0, 0.564);
  border-color: #a97bb1;
}

.navbar-light .navbar-toggler {
  color: #a97bb1;
  border-color: #a97bb1;
}

.navbar-toggler {
  padding: 1px 5px;
  font-size: 17px;
}

.navbar-brand {
  font-size: 26px;
  background: -webkit-linear-gradient(#a97bb1, #55245f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tratamientosList {
  display: none;
  padding-left: 9rem;
  text-align: left;
}

.tratamientosList li {
  display: block;
  font-size: 18px;
  color: grey;
}
.tratamientosList li:hover {
  text-decoration: underline;
}

.fa-chevron-down {
  width: 30px;
  transition: 0.4s;
}

.fa-chevron-down:hover {
  color: #86538f;
}

.container-fluid {
  background-color: #f0f3f5;
}

#video-hero {
  width: 100%;
}

#sobrenosotros h1 {
  font-family: "EB Garamond", serif;
}
.fontFams {
  font-family: "Lora", serif;
}

.navbar-nav {
  margin-top: 50px;
  text-align: center;
  font-size: 25px;
}

.navbar-nav li {
  margin: 2.5% auto;
}

.background_img_container {
  margin-bottom: -6px;
}

.logo {
  text-shadow: 1px 1px black;
}

.leaflogo-container {
  width: 100%;
  height: 90px;
  padding-right: 0px;
  background-color: #a97bb1;
}

.leaf-comments-logos,
.cellphone-logo {
  width: fit-content;
  margin: 0px auto 20px;
  text-align: center;
}

.leaf-comments-logos p,
.cellphone-logo {
  font-size: 32px;
  font-family: "lora", serif;
  color: white;
  padding-top: 20px;
  text-shadow: 1px 1px black;
}

.leaf-comments-logos i,
.cellphone-logo i {
  border-style: solid;
  border-radius: 30px;
  width: 54px;
  padding: 7px;
}

.cellphone-logo {
  font-size: 58px;
}

.cellphone-logo i {
  border-radius: 39px;
  width: 80px;
  color: #a97bb1;
}

.rowAboutMe {
  margin-bottom: 10px;
  background-color: #a97bb1;
}

.colAboutMe p {
  margin: 40px auto 0px;
}

.colAboutMe h1 {
  margin: 0px auto 30px;
}

.colAboutMe p,
h1 {
  text-align: center;
}

.imgContainer {
  width: 45%;
  margin: 20px auto;
}

.imgContainer img {
  width: 100%;
}

.aboutMeparragraph,
.signature {
  font-family: "EB Garamond", serif;
  padding: 15px 30px;
  margin: auto;
}

.signature p {
  font-family: "Italianno", cursive;
  font-size: 24px;
  text-align: right;
}

.b1,
.b2,
.b3,
.b4,
.b5 {
  position: relative;
}

.linkContainer {
  position: absolute;
  top: 25px;
  left: 20px;
}

.banner1,
.banner2,
.banner3,
.banner4 {
  margin-bottom: 2px;
}

.banner {
  width: 100%;
  height: 170px;
  object-fit: cover;
}

h4 {
  color: white;
  text-shadow: black 2px 2px;
}

.seeDescription {
  width: 155px;
  height: 40px;
  font-size: 20px;
  background-color: #a97bb1;
  border-style: solid;
  border-radius: 5px;
  border-color: #212529;
  padding: 5px auto;
  color: white;
  text-shadow: black 1px 1px;
}

.cardColumn {
  box-shadow: grey 0px 0px 5px;
}

.rowProjects {
  margin-bottom: 10px;
}

.container,
.container p {
  color: white;
  display: block;
  font-size: 18px;
  font-family: "Lora", serif;
  width: fit-content;
}

.container {
  width: auto;
}

.igfbIcons {
  display: inline-flex;
  margin: 10px 0px;
}

.igfbIcons p {
  font-size: 30px;
  margin: -6px 0px 0px 30px;
}

.phoneEmail p {
  margin: 10px 0px;
}

.phoneEmail p i {
  margin-right: 10px;
}

.sideBtns-Container {
  position: fixed;
  bottom: 20%;
  left: 98%;
  z-index: 1;
  width: 49px;
  border-style: solid;
  border-width: thin;
  border-radius: 15px;
  border-color: grey;
}

.sideBtns {
  width: 100%;
  text-align: center;
  position: relative;
  left: 70px;
  transition: 0.2s;
  padding: 10px 0px 2px;
}
.sideBtns-Container:hover {
  left: 87%;
  background-color: white;
}

.sideBtns-Container:hover .sideBtns {
  transition: 0.2s;
  left: 0;
}

.sideBtns a {
  border-style: none;
  font-size: 5px;
}

.sideBtns i {
  font-size: 26px;
  margin: 0px auto 14px;
  color: #a97bb1;
}

.accordion-button:focus {
  box-shadow: 0 0 0 0.25rem #a97bb1;
}

.accordion-button:not(.collapsed) {
  color: white;
  text-shadow: rgb(23, 21, 21) 1px 1px;
  background-color: #d6a6df;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%grey'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion {
  margin-top: 5px;
}
